# Ignore compiled C files
*.i
*.s
*.o
*.exe
*.out

# Ignore backup and temporary files
*~
*.tmp
*.log
*.old
*.py
*__tmp.c

# Ignore editor and system-specific files
.vscode
.DS_Store
Thumbs.db

# Ignore the archive folder
archive/
